.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 90vh;
  }
.title{
    /* text-align: center; */
}

.formbox{
  /* width: 30%;
  height: 70%; */
  /* text-align: center; */
  /* outline: 1px solid #343a40; */
  max-width: 400px;
  min-width: 350px;
}

.formbuttondiv{
  /* text-align: center; */
}

.formbutton{
  width: 200px;
}

/* .forminput{
  width: 50%;
  height: 50%;
  margin: 0 auto;
} */

.formlabel{
  text-align: left;
  float: left;
}

.centertext{
  text-align: center;
}

.centerdiv{
  justify-content: center;
}

.centeritems{
  align-items: center;
}

.updatecard{
  max-width: 25rem;
  min-width: 20rem;
  /* max-width: 55vh;
  min-width: 30vh; */
  margin: auto;
}

.inlinevalue{
  font-size:16px;
}

.mainpagetextbox{
  /* margin-top: 20%; */
  padding-top: 20vh;
  padding-left: 20%;
}

@media screen and (max-width: 1200px) {
  .mainpagetextbox{
    margin-top: 5vh !important;
    /* margin-left: 5vh !important; */
    padding-right: 20% !important;
    width:90%;
    min-width: 30vh;
    margin:auto;
    padding: 0.2vh !important;
  }
}

.mainpageimagebox{
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 115px;
  padding-top: 75px;
}

@media screen and (max-width: 1400px) {
  .mainpageimagebox{
    margin-top: 5vh !important;
    /* margin-right: 5vh !important; */
    padding-left: 2000px !important;
    width:90%;
    min-width: 45vh;
    margin:auto;
    padding: 0.2vh !important;
  }
}

.buttonmargin{
  margin-right:15px;
  margin-top:15px;
  margin-bottom:15px;
}

.formmargin{
  margin-top:5vh;
}

.mainbox{
  /* min-width: 40rem; */
}

.navmargins{
  margin-left: 120px !important;
}

.lefthomepagetextbox{
  margin-top: 2vh;
  /* padding-top: 20vh;
  padding-left: 10vh;
  padding-right: 30vh; */
  /* min-width: 30vh; */
  /* outline: 5px solid red; */
}

.righthomepagetextbox{
  margin-top: 2vh;
  /* padding-top: 20vh;
  padding-left: 30vh;
  padding-right: 10vh; */
  /* min-width: 30vh; */
  /* outline: 5px solid red; */
}

.leftinfobox{
  /* margin-top: 20vh; */
  padding: 10vh;
  /* outline: 5px solid blue; */
}

.rightinfobox{
  /* margin-top: 20vh; */
  padding: 10vh;
  /* outline: 5px solid blue; */
}

.circlesize{
  margin:auto;
  width: 60%;
}

.jumbotronsize{
  margin-top: 2vh !important;
  width:65%;
  margin:auto;
  padding: 0.5vh !important;
}

@media screen and (max-width: 1200px) {
  .jumbotronsize{
    margin-top: 2vh !important;
    width:90%;
    margin:auto;
    padding: 0.2vh !important;
  }
}

.wsbuttonmargins{
  margin:3px;
}

.googlefont{
  font-family: 'Raleway', sans-serif;
}